body {    
    font-family: Roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: #ffffff;
}
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --accent-bg-color: #2F303A;    
}

.list {
    list-style: none;
}


/* header */
/* logo */
.logo {
    font-family: Raleway, sans-serif;    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-forepart {
    color: var(--accent-text-color);
}

.top-header .logo {
    color: #000000;
}

.footer .logo {
    color: #ffffff;
}

/* site-nav */
.nav-link {    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-text-color);
}

.nav-link.current {
    color: var(--accent-text-color);
}

/* contacts */
.contact-mail,
.contact-tel {
    font-style: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
}
.contact-tel:hover,
.contact-tel:focus {
    color: var(--accent-text-color);
}

.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-text-color);
}

/* footer */
.footer {
    background-color: var(--accent-bg-color);
}

.studio-address {
    font-style: inherit;
}

.footer-contact-address,
.footer-contact-mail,
.footer-contact-tel {
    font-style: inherit;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact-address:hover,
.footer-contact-address:focus {
    color: #ffffff;
}

.footer-contact-mail:hover,
.footer-contact-mail:focus {
    color: #ffffff;
}

.footer-contact-tel:hover,
.footer-contact-tel:focus {
    color: #ffffff;
}

/* main studio*/
/* hero */
.hero-section {
    background-color: var(--accent-bg-color);
}
.hero-title {    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
.hero-btn{
    cursor: pointer;    
    background-color: var(--accent-text-color);
    font-family: inherit;
    font-style: inherit;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
}

/* section title h3 */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);
}

/* quolities */
.quolities-section {}

.quolities-title {    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.quolities-desc {
    font-size: 14px;
    line-height: 1.7;
}

/* work */
.work-section {}

/* our-team */
.our-team-section {
    background-color: #F5F4FA;
}
.team-card-title {    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);
}
.team-card-text {    
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* portfolio */
.portfolio-title {
    display: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.portfolio-filter-btn {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;    
    text-align: center;
    background: #F5F4FA;
    color: var(--title-text-color)
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
    background-color: var(--accent-text-color);
    color: #ffffff;
}

.portfolio-prj-link {
    text-decoration: none;
    color: inherit;
}

.portfolio-prj-card-title {    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-prj-card-text {
    font-size: 16px;
    line-height: 1.9;
}



